.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/zeco.owl
src/ontology/zeco.obo
src/ontology/zeco.json
src/ontology/zeco-base.*
src/ontology/zeco-basic.*
src/ontology/zeco-full.*
src/ontology/zeco-simple.*
src/ontology/zeco-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/merged-zeco-edit.owl
src/ontology/simple_seed.txt
